:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --titles-text: black;
  --contacts-color: #ffffff99;
  --white: #ffffff;
  --background-color: #ffffff;
  --button-color: #188ce8;
  --black-accent: #2f303a;
  --button-portfolio: #f5f4fa;
  --button-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* utility */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
}
a {
  color: var(--title-text-color);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}
img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}
header {
  background: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--titles-text);
  border-bottom: 1px solid #ececec;
}
footer {
  background: var(--black-accent);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* logo */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--titles-text);
  letter-spacing: 0.03em;
  margin: auto 0;
  margin-right: 93px;
}
.web {
  --logo-accent: #2196f3;
  color: var(--logo-accent);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* navigation */
.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav-list > .nav-list-header:not(:last-child) {
  margin-right: 50px;
}
.nav-list > .link-header-profile:not(:last-child) {
  margin-right: 50px;
}

.profile-contacts {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  display: inline-block;
  align-items: center;
  margin-left: auto;
}

.nav-list > .link {
  display: block;
}
.link-header-profile:last-child {
  margin-right: 50px;
}

.link-header {
  margin-left: auto;
}
.nav-list .current {
  color: var(--accent-color);
}

.link-header-profile .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
}
.icons-contacts {
  margin-right: 10px;
  stroke: currentColor;

  object-position: left bottom;
}

/* .icons-contacts-flex {
  display: flex;
  align-items: baseline;
  align-content: center;
} */

.icons-contacts-flex::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  align-content: center;
}
/* hover profile */
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}

/* hero */

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.hero {
  margin: 0 auto;
  background: var(--black-accent);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid#C4C4C4;
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );

  background-image: url("../image/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* main */
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
.values {
  background: var(--background-color);
}
.container-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
/* Decorations */
.profile-block::before {
  content: "";
  display: block;
  height: 120px;
  border: 1px solid transparent;
  background-color: #f5f4fa;
  background-image: url(../icons/Vector1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.profile-block:nth-child(2)::before {
  background-image: url(../icons/Vector2.svg);
}
.profile-block:nth-child(3)::before {
  background-image: url(../icons/Vector3.svg);
}
.profile-block:nth-child(4)::before {
  background-image: url(../icons/astronaut.svg);
}

.icons-list {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.icons-flex {
  /* height: 50px;
  width: 50px; */
  padding: 20px;
  border-radius: 50%;
  display: flex;
}
.icons-flex:hover {
  background-color: var(--accent-color);
}

.icons {
  display: flex;
  fill: var(--icon-color);
  align-items: center;
  justify-content: center;
}

.icons-flex:hover .icons {
  fill: var(--white);
}

/* .icons-flex .fb {
  fill: currentColor;
} */
/* button */
.button {
  color: var(--white);
  background-color: var(--button-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}
.button-port {
  color: var(--title-text-color);
  background-color: var(--button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 32px;
  /* display: flex; */
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  height: 38px;
  min-width: 73px;
  left: 495px;
  padding: 6px 22px;
  display: inline-block;
  border: transparent;
}

/* section */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.zero-pdng {
  padding-top: 0;
}
.profile {
  width: 1200 px;
  /* padding: 94px 0; */
  margin: 0 auto;
  display: flex;
}
/* .profile-block {
  width: calc((100% - 3 * var(--main-margin)) / 4);
} */
.profile-block:not(:last-child) {
  margin-right: 30px;
}
.work {
  display: flex;
  flex-wrap: wrap;
}
.our-work {
  flex-basis: calc((100% - 90px) / 3);
  margin: auto;
}

/* .team {
  display: flex;
  justify-content: center;
  background: #f5f4fa;
  flex-basis: calc(100% / 4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -30px;
  margin-top: -50px;
} */
.team {
  display: flex;
  flex-wrap: wrap;
}
.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.container-team-member {
  padding-bottom: 10px;
}
.team-description {
  text-align: center;
  align-self: auto;
}
.team > .team-description {
  flex-basis: calc((100% - 120px) / 4);
  background: var(--white);
  box-shadow: var(--button-shadow);
  border-radius: 4px;
}

.team > .team-description {
  margin-left: 30px;
  align-items: center;
}
.team-description:nth-child(1) {
  margin-left: 0;
}
.purple {
  background: #f5f4fa;
}
/* .container-team-member,
.container-team-prof {
  align-self: auto;
} */

.profile-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.container-team-member {
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  font-weight: 500;
}
.container-team-prof {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* footer */
.footer-part {
  background-color: var(--bg-hero-footer);
  padding: 60px 0;
}
.footer-part ul {
  margin-top: 20px;
  justify-content: space-between;
}

.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 9px;
  margin-top: 20px;
}
.link-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.link-footer:first-child {
  margin-bottom: 9px;
}

/* Portfolio part */
.button-port:hover,
.button-port:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.nav-portfolio {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-list-portfolio {
  display: inline-block;
  justify-content: space-evenly;
}
.nav-portfolio {
  margin-bottom: 50px;
}
.nav-portfolio .nav-port-button + .nav-port-button {
  margin-left: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.experience-border > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.experience-border > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.98;
  letter-spacing: 0.03em;
  color: #757575;
}
.experience {
  width: 370px;
}
/* .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.link-port {
  display: inline-block;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.item > .experience {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.experience-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
